.sidebar{
  position:fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  cursor: pointer;
}
.sidebarlink
{

height: 74px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}
.sidebarlink:hover
{
background-color: rgb(235,235,235);
}
.sidebarlink img{
height: 24px;
margin-bottom: 4px;
}
.sidebarlink div{
  font-family: Roboto,Arial;
  font-size: 10px;
  
  
}
